[Unit]
Description=Serve a login-terminal over http on  port 4200.
Required=sshd.service
After=sshd.service

[Service]
EnvironmentFile=/etc/default/shellinabox
ExecStart=/usr/bin/shellinaboxd --no-beep -t
Restart=on-failure

[Install]
WantedBy=multi-user.target