[Unit]
Description=WebDAV Daemon for user pi

[Service]
Type=simple
RemainAfterExit=yes
User=pi
ExecStart=chezdav -p 4201 -P /home/pi -d /etc/chezdav.htdigest

[Install]
WantedBy=multi-user.target
