[Unit]
Description=WebDAV Daemon for user pi

[Service]
Type=simple
RemainAfterExit=yes
User=pi
ExecStart=/usr/bin/chezdav -p 4300 -P /home/pi -d /home/pi/.chezdav.htdigest; /usr/bin/socat tcp-l:4201,fork,reuseaddr tcp:127.0.0.1:4300

[Install]
WantedBy=multi-user.target
