[Unit]
Description=Exec /home/pi/autostart.sh for custom startup definitions
ConditionPathExists=/home/pi/autostart.sh
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/bin/bash /home/pi/autostart.sh start
WorkingDirectory=/home/pi/
User=pi

[Install]
WantedBy=multi-user.target